@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #030014;

  --color-secondary: #e6e6e6;

  --color-acient: #004d00;

  --color-light-100: #cecefb;

  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;
}
.flex-center {
  @apply flex justify-center items-center w-full h-full;
}
.inputs{
  @apply w-full h-10 indent-4 bg-gray-100/20 rounded-md my-2
}
.heading {
  @apply text-2xl font-bold text-acient tracking-wide font-serif capitalize;
}

.sub-heading {
  @apply text-lg text-gray-500 mt-1 font-medium;
}
